@using LRC.Business.Entidades.Enums
@model LRC.App.ViewModels.ContaPagarVM

@{
    ViewData["Title"] = Model.Id == Guid.Empty ? "NOVO REGISTRO À PAGAR" : "EDITAR REGISTRO À PAGAR";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Editar" id="frm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UsuarioCadastroId" />
            <input type="hidden" asp-for="UsuarioAlteracaoId" />
            <input type="hidden" asp-for="FornecedorId" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <label asp-for="FornecedorId" class="control-label"></label>
                    @if (Model.Fornecedor != null)
                    {
                        <input class="form-control" id="FornecedorNome" readonly value="@Model.Fornecedor.RazaoSocial" />
                    }
                    else
                    {
                        <input class="form-control" id="FornecedorNome" readonly />
                    }
                </div>
                <div class="col-md-1">
                    <br/>
                    <button type="button" class="w-100 btn btn-primary" id="Pesquisa" onclick="PesquisaFornecedores()"><i class="badge-info bi-search"></i></button>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="DataEmissao" class="control-label"></label>
                    <input asp-for="DataEmissao" class="form-control" type="date" />
                    <span asp-validation-for="DataEmissao" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="DataVencimento" class="control-label"></label>
                    @if (Model.DataVencimento != null)
                    {
                        <input asp-for="DataVencimento" class="form-control" type="date" value="@Model.DataVencimento" />
                    }
                    else
                    {
                        <input asp-for="DataVencimento" class="form-control" type="date" />
                    }
                    <span asp-validation-for="DataVencimento" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="NumeroDocumento" class="control-label"></label>
                    <input asp-for="NumeroDocumento" class="form-control" />
                    <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="DataFechamento" class="control-label"></label>
                    <input class="form-control" readonly />
                    <span asp-validation-for="DataFechamento" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <textarea asp-for="Observacao" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="row">
                @if (Model.UsuarioCadastroId != Guid.Empty)
                {
                    <div class="col-md-6">
                        <br />
                        <input asp-for="_InfoCadastro" class="form-control" readonly />
                    </div>
                }
                @if (Model.UsuarioAlteracaoId != Guid.Empty)
                {
                    <div class="col-md-6">
                        <br />
                        <input asp-for="_InfoAlteracao" class="form-control" readonly/>
                    </div>
                }
            </div>

            <div class="form-group">
                <br />
                <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
                <button type="button" onclick="chamarSalvar()" class="btn btn-success">Salvar Registro</button>
                <button type="button" class="btn btn-primary">Baixar Registro</button>
            </div>
        </form>
    </div>
</div>

<div id="modalPlaceholder"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        function PesquisaFornecedores() {
            $.ajax({
                url: '@Url.Action("PesquisaFornecedores", "ContasPagar")',
                type: 'GET',
                success: function (data) {
                    $('#modalPlaceholder').html(data);
                    $('#myModal').modal('show');
                },
                error: function (xhr, status, error) {
                    alert('Ocorreu um erro ao carregar o modal.');
                }
            });
        }

        function chamarSalvar() {
            var id = $("#Id").val();
            var url = '@Model.Id';
            SalvarQuandoNaoModal('frm', url)
        }
    </script>
}
