@model IEnumerable<LRC.App.ViewModels.SubGrupoVM>

@{
    ViewData["Title"] = "Lista de SubGrupos";
}

<h1>@ViewData["Title"]?.ToString()?.ToUpper()</h1>

<p>
    <button class=" w-100 btn btn-success novo" data-id="@Guid.Empty"><i class="bi bi-plus-lg"></i> Novo</button>
</p>
<table class="table table-bordered table-striped table-hover small">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @if(item.Grupo != null)
                        @Html.DisplayFor(modelItem =>  item.Grupo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>
                    <button class="btn btn-sm btn-primary modal-trigger editar" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-sm btn-danger modal-trigger excluir" data-id="@item.Id"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

@section Scripts
{
    <script>
        function chamarExcluir(id) {
            var url = 'excluir-subgrupo/' + id;
            Excluir(id, url)
        }

        $(document).ready(function () {
            abrirModal(".novo", "NOVO REGISTRO", "/editar-subgrupo/");
            abrirModal(".editar", "EDITAR REGISTRO", "/editar-subgrupo/");

            $('.excluir').click(function () {
                var itemId = $(this).data('id');
                chamarExcluir(itemId);
            });
        });
    </script>
}
